version: "2"
services:
  jenkins:
    image: jenkinsci/blueocean
    restart: always
    environment:
      - DOCKER_HOST=tcp://host.docker.internal:2375
    user: root
    ports:
      - "18080:8080"
      - "18443:8443"
      - "50000:50000"
    volumes:
      - ./../dck_volumes/jenkins/jenkins_data:/var/jenkins_home
      - ./../dck_volumes/jenkins/home:/home