version: '2'

services:
  portainer:
    image: portainer/portainer
    container_name: Portainer
    restart: always
    ports:
      - "19500:9000"
    command: -H unix:///var/run/docker.sock
    volumes:
      - //var/run/docker.sock:/var/run/docker.sock
      - ./portainer_data:/data