version: "3.4"

networks:
    default:
      external:
        name: FG_net

services:
  poste:
    image: analogic/poste.io
    hostname: freegrames.com
    restart: always
    #network_mode: "host"
    ports: 
      - "25:25"
      - "81:80"
      - "8443:443"
      - "110:110"
      - "143:143"
      - "465:465"
      - "587:587"
      - "993:993"
      - "995:995"
    volumes:
      - ./../dck_volumes/Poste:/data
    environment:
      - HTTPS=OFF
      - DISABLE_CLAMAV=TRUE
    networks:
        default:
            ipv4_address: 172.200.0.10